*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body{
    background-color: #fff;
    color: #555;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
/* REUSABLE STYLES */
.row{
    max-width: 1140px;
    margin: 0 auto;
}

.show{
    display: block;
}

.hide {
    display: none;
}

/* HEADER */
header{
    width: 100%;
    height: 70px;
    background-image: linear-gradient(to right,#16a085, #bdc3c7);
    /* border: #72d6d1 solid 1px; */
}

header img{
    height: 70px;
    padding: 5px 15px ;
}

/* FORM */
.form{
    padding-top: 20px;
    padding-bottom: 20px;
    border-left: #555 solid 1px;
    border-right: #555 solid 1px;
    border-bottom: #555 solid 1px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

h1, input, textarea{
    margin-left: 15%;
    margin-bottom: 10px;
    width: 70%;
}

h1{
    font-size: 200%;
}

label{
    margin-bottom: 5px;
}

.form p{
    height: 40px;
    background-color: #bdc3c7;
    font-weight: 500;
    border-radius: 5px;
    width: 30%;
    margin-left: 35%;
    padding-top: 7px;
    transition: background-color 0.5s, color 0.5s;
}

.form p:hover{
    background-color: #16a085;
    transition: background-color 0.5s, color 0.5s;
    color: #fff;
    cursor: pointer;
}

label{
    font-weight: 700;
}

#errorMessage{
    border: red solid 1px;
    background-color: rgba(255, 0, 0, 0.308);
    color: red;
    width: 70%;
    margin-left: 15%;
    border-radius: 5px;
    font-size: 80%;
    text-align: left;
    padding: 5px 10px;
}

#errorMessage ion-icon{
    float: left;
    padding-top: 2px;
    padding-right: 2px;
}

li div{
    display: inline-flex;
}

ion-icon{
    float: right;
}

